
@{
    ViewBag.Title = "Reset Password Confirmation";
}
<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Your Password is Reseted. @Html.ActionLink("Click here for log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
