@model ICollection<Anna_Bondarenko_FinalTask.WEB.Areas.Operator.Models.CheckExamSubjects>
@{
    Layout =null;
}

@foreach (var s in Model)
{
    <label class="centered text-center checkbox checkbox-inline col-lg-2">
        @if (s.Checked)
        {
            <input type="checkbox" name="namesExam" checked="checked" value="@s.Subject.Name"><div class="labels"><label>@s.Subject.Name</label></div>
        }
        else
        {
            <input type="checkbox" name="namesExam" value="@s.Subject.Name"><div class="labels"><label>@s.Subject.Name</label></div>
        }
    </label>
}


