

    <h4>Mark</h4>

        <div class="col-md-3">
            <input class="form-control " data-val="true" data-val-number="The mark number must be a number." data-val-range="Enter the mark correctly." data-val-range-max="100" data-val-range-min="0" data-val-required="Please,enter the mark" id="schoolMark" name="schoolMark" type="number">

        </div>


